body {
  text-align: center;
  font-family: Arial;
  font-size: 16px;
}

.container ul {
  list-style-type: none;
}

.container ul li {
  margin: 0.5em;
}

.container p, .container ul {
  margin-bottom: 3em;
}

a {
  text-decoration: none;
  color: blue;
  transition-duration: 0.2s;
}

a:hover {
  color: red;
}

footer p a::after {
  content: attr(href);
}